<!DOCTYPE HTML>
<html ng-app="MyApp">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/angular-local-storage.min.js"></script>
    <script src="assets/js/jquery-2.2.4.min.js"></script>
    <script src="assets/js/autocomplete-jquery-ui.js"></script>
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/font/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/autocomplete-jquery-ui.structure.css" rel="stylesheet">
</head>

<body ng-controller="Controlador as ctrl">
    <header class="page-header">
        <div class="container col-xs-offset-3 col-md-offset-4 col-md-6">
            <img src="assets/img/angularLogo.png" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
            <h1 ng-cloak>{{name + " " + apellido}}</h1>
        </div>
    </header>
    <br>
    <section class="col-xs-6" ng-controller="ComentarioController">
        <ul class="list-group">
            <li ng-repeat="comentario in comentarios" class="list-group-item">{{comentario.comentario}} - <small><strong>{{comentario.autor}}</strong></small></li>
        </ul>
        <legend>Añade un comentario</legend>
        <br>
        <div class="form-group">
            <textarea name="" id="input" class="form-control" rows="3" ng-model="nComentario.comentario"></textarea>
            <br>
            <input type="text" class="form-control" id="" placeholder="Autor" ng-model="nComentario.autor">
            <br>
        </div>
        <button class="btn btn-primary" ng-click="addComentario()">Submit</button>
    </section>
    <section class="col-xs-6" ng-controller="ToDoController">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="actividad in todo">{{actividad.descripcion}} - {{actividad.fecha | date:'short'}}</li>
        </ul>
        <form ng-submit="addActiv()">
            <legend>Lista Por hacer Simple</legend>
            <div class="form-group">
                <input ng-model="newActiv.descripcion" type="text" class="form-control" id="" placeholder="Input field">
            </div>
            <div class="form-group">
                <input ng-model="newActiv.fecha" type="datetime-local" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br>
        <p>{{precio | monedaBs}}</p>
    </section>
    <section c="col-xs-12" ng-controller="ToDoSerController">
        <form class="col-xs-6" ng-submit="addAct()">
            <legend>Lista Por hacer con Service</legend>
            <div class="form-group">
                <input ng-model="newAct.descripcion" type="text" class="form-control" id="" placeholder="Input field">
            </div>
            <div class="form-group">
                <input ng-model="newAct.fecha" type="datetime-local" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a ng-click="clean()" class="btn btn-danger" href="#"><i class="fa fa-database fa-lg"></i> Clean</a>
        </form>
        <ul class="col-xs-6 list-group">
            <h4>Listado</h4>
            <li class="list-group-item" ng-repeat="actividad in toDo">{{actividad.descripcion}} - {{actividad.fecha | date:'short'}} / <a href="#" ng-click="removeAct(actividad)"><i class="fa fa-times fa-lg text-danger"></i></a></li>
        </ul>
    </section>
    <section style="margin-bottom:50px;" class="row" ng-controller="GetRepo">
        <div class="col-xs-6">
            <div class="form-group">
                <div class="col-sm-10">
                    <input auto-completar="repos" type="text" class="form-control" placeholder="Buscar Repo">
                    <a href="" ng-click="main_repo = null">Clear</a>
                </div>
            </div>
        </div>
        <div class="col-xs-6 container">
            <img ng-src="https://avatars.githubusercontent.com/u/10699738?v=3" alt="">
            <h3>Repositorios de GitHub</h3>
            <ul ng-hide="main_repo && main_repo != repo.name" class="list-group" ng-repeat="repo in posts">
                <li class="list-group-item">{{repo.name}}</li>
            </ul>
        </div>
    </section>
    <section style="margin-bottom:50px;" class="col-xs-12" ng-controller="JsonController">
        <legend>Submit Post</legend>
        <br>
        <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="Title" ng-model="nPost.title">
            <textarea name="" id="input" class="form-control" rows="3" ng-model="nPost.body"></textarea>
        </div>
        <button ng-click="addPost()" class="btn btn-primary">Submit</button>
        <div ng-show="loading">
            <h3>Cargando posts...</h3></div>
        <div ng-show="!loading && posts.length <= 0">
            <h3>No se encontraron posts...</h3></div>
        <table ng-show="posts.length > 0" class="table table-bordered table-hover animate">
            <tbody>
                <tr ng-repeat="post in posts">
                    <td>{{post.title}}</td>
                    <td>{{post.body}}</td>
                </tr>
            </tbody>
        </table>
    </section>
    <footer class="navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <p>Develop by Danny Suarez</p>
        </div>
    </footer>
    <script src="assets/js/bootstrap.min.js"></script>
</body>

</html>